

.AO{
  height: 3000;
  width: 1500;
  background-color:skyblue;
}
.AP{
  margin-top: 50px;
  margin-left:250px;
}
.AR{
  margin-left:180px;
  font-size:30px;
  color: sandybrown;
  position: absolute;
}
.AQ{
  margin-left:300px;
}
.AS{
  margin-left:200 px;
}
.AT{
  background-color: white;
  margin-left: 50px;
  width: 550px;
}
.AU{
  margin-top: 60px;
  margin-left: 250px;
}
.AV{
  margin-left:180px;
  font-size:30px;
  color: sandybrown;
  position: absolute;
}
.AW{
  margin-left:300px;
}

.AY{
  background-color: white;
  margin-left: 50px;
  width: 550px;
}
.BA{
  margin-top:60px;
  margin-left:250px;
}
.BD{
  margin-left: 180px;
  font-size:30px;
  color: sandybrown;
  position: absolute;
}
.BE{
  margin-left: 300px;
}
.BB{
  background-color: white;
  margin-left: 50px;
  width: 550px;
}
.BF{
  margin-top:60px;
  margin-left:250px;
}
.BH{
  margin-left: 180px;
  font-size: 30px;
  color: sandybrown;
  position: absolute;
}
.BI{
  margin-left: 300px;
}
.BG{
  background-color: white;
  margin-left: 50px;
  width: 550px;
}
.BK{
  width:1000px;
  height: 600px;
  background-color: black;
}
.BJ{
  margin-top: 50px;
  margin-left:400px;
  color: white;
}
.BL{
  margin-left: 200px;
  height:450px;
  width:600px;
  background-color: dimgray;
}
.BN{
  margin-left: 20px;
  color: white;
}
.BO{
  border-radius: 75px;
  width: 150px;
  height: 50px;
  background-color: blue;
  color: White;
}



