
a{
  text-decoration: none;
  padding: 20px;
}
.A{
  margin-left: 50px;
  position: absolute;
}
.box1{
  margin-top: 20px;
  position: absolute;
  margin-left: 450px;
}
.RK{
  background-color: blue;
  width:80px;
  height:50px;
  border-radius: 30px;
  color: white;
}
.F{
  margin-top: 90px;
  font-size:50px;
  position:absolute;
}

.G{
  background-color: aqua;
  color: black;
  height:50px;
  width: 170px;
}
.H{
  background-color:blue;
  color:white;
  margin-left:35px;
  height: 50px;
  width: 170px;
}
.Rajesh{
  margin-top: 350px;
  position:absolute;
}
.dada{
  margin-top: 100px;
  height:600px;
  width:550px;
  margin-left:450px;
}
.I{
  margin-top:40px;
  margin-left:20px;
  color:blue;
}
.vaibhav{
  width:400px;
  height:290px;
background-color:yellow;
position:absolute;
}


.L{
  height:50px;
  width: 60px;
  position: absolute;
}
.M{
  margin-left: 65px;
  position: absolute;
}
.Maroti{
  height: 290px;
  width: 570px;
  margin-left: 400px;
}
.Manmath{
  height:500px;
  width:500px;
}
.AB{
  margin-top: 15px;
}
.AC{
  font-size: 40px;
}
.AD{
  margin-top:15px;
}
.AE{
  margin-top:15px;
  height: 50px;
  width: 100px;
}
.CCA{
  margin-top: 100px;
  margin-left:250px;
  color:white;
  position:absolute;
}
.AF{
  width:550px;
  height:500px;
  margin-left:300px;
}
.ABC{
  height: 3000px;
  width: 1000px;
  background-color: skyblue;
}
.AH{
  margin-left: 50px;
}
.AI{
  margin-left:60px;
}
.Computer{
  width: 500px;
  height:450px;
  border-radius:20px;
}
.AG{
  margin-left:200px;
  height:800px;
  width: 700px;
  color:white;
}
.AJ{
  margin-left: 30px;
  height: 800px;
  width: 800px;
  background-color:black;
}
.AK{
  margin-left:300px
}
.AL{
  margin-left:300px;
}
.AM{
  background-color: white;
}
.AN{
  border-radius: 75px;
  height: 50px;
  width: 150px;
  color: white;
  background-color: blue;
}
